body {
  font-size: 15pt;
}

.tengah {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-lanjut {
  padding: 10px 20px;
  background: blue;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}